
/*Navagation*/

.logo{
  margin-left: 30px;
  margin-top: 10px;
}

nav{
  width:90%;
  margin: 0 auto;
  width:960px;
  height: 60px;
}

ul {
  margin-top: -30px;
  text-decoration: none;
  text-align: center; 
}

li {
  text-decoration: none;
  font-family: arial;
  color: gray;
  font-size: 25px;
  display: inline;
  padding-left: 15px; 
}

/*Container*/

.container{
  width: 960px;
  margin:0 auto;
}
.centerimage{
  text-align: center;
  padding-top: 50px;

}
.left{
  float: left;
  width:400px;
  padding: 5px;
}

.right{
  float: left;
  width:400px;
  padding: 5px;
}



/*Text Styles*/
h1{
  font-family: arial;
  font-size: 30px;
  color: gray;
}

p{
  font-family: arial;
  font-size: 10px;
  line-height: 14px;
}
